@import "tailwindcss";

:root {
  --background: #232830;
  --foreground: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Fonts settings */
  --font-poppins: var(--font-poppins);
  --font-recursive: var(--font-recursive);
  --font-recursive--font-variation-settings: "slnt" -15;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.margin {
    @apply md:ml-32 md:mr-32 m-8;
}

.margin-negative {
    @apply md:-ml-32 md:-mr-32 -ml-8 -mr-8;
}